﻿@model BLL.DTO.ProfileDto

<td style="display:none">
	@Html.Hidden(Model.Id)
</td>
<td>
	@Model.RoleName
</td>
<td class="btn btn-dark bg-dark">Change role.</td>
<td>@Html.ActionLink("Details","Info","Account",new { id=Model.Id},null)</td>
