﻿@model IEnumerable<BLL.DTO.ProfileDto>

@{
	ViewBag.Title = "Index";
}
@section scripts
{
	<script src="@Url.Content("~/Scripts/Users.js")"></script>
}
@using Microsoft.AspNet.Identity

<div class="row flex-wrap p-3 m-2 " style="background-color: #283747">
	<input type="text" class="form-control col-7 col-md-7 col-lg-7 col-sm-7 offset-lg-1 offset-1" id="find" placeholder="Find by Name">
	<button class="btn btn-dark bg-info" onclick='FindUser()'>Find by User Name</button>
</div>


<div class="panel-body" onclick="some()">
	<table class="table table-hover table-bordered table-condensed" id="UsersWithRoles">
		<thead>
			<tr>
				<td><b>User name</b></td>
				<td><b>Full Name</b></td>
				<td><b>Roles</b></td>
				<td><b>Change role</b></td>
				<td><b>Details</b></td>
				<td><b>Edit</b></td>
			</tr>
		</thead>
		@foreach (var user in Model)
		{
			<tr>
				<td>@user.UserName</td>
				<td>@user.Name</td>
				@{Html.RenderPartial("_DisplayRole", user);}
				@{
					if (user.Id == User?.Identity.GetUserId())
					{
						<td>
							@Html.ActionLink("Edit", "Edit", "Account", new { id = user.Id }, null)
						</td>
					}
					else
					{
						<td>
							You can't see info.
						</td>
					}
				}
			</tr>

		}
	</table>
</div>