﻿@model BLL.DTO.ProfileDto

@{
	ViewBag.Title = "Info";
}
@using Microsoft.AspNet.Identity



<div class="container bootstrap snippets bootdey">
	<div class="panel-body inf-content">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-4">
				<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;width:23vw;" xml:space="preserve">
				<path d="M437.02,330.98c-27.883-27.882-61.071-48.523-97.281-61.018C378.521,243.251,404,198.548,404,148
			C404,66.393,337.607,0,256,0S108,66.393,108,148c0,50.548,25.479,95.251,64.262,121.962
			c-36.21,12.495-69.398,33.136-97.281,61.018C26.629,379.333,0,443.62,0,512h40c0-119.103,96.897-216,216-216s216,96.897,216,216
			h40C512,443.62,485.371,379.333,437.02,330.98z M256,256c-59.551,0-108-48.448-108-108S196.449,40,256,40
			c59.551,0,108,48.448,108,108S315.551,256,256,256z" />
					</svg>
			</div>
			<div class="col-md-6">
				<strong>Information</strong><br>
				<div class="table-responsive">
					<table class="table table-user-information">
						<tbody>

							<tr>
								<td>
									<strong>
										<span class="glyphicon glyphicon-user  text-primary"></span>
										Name
									</strong>
								</td>
								<td class="text-primary">
									@Model.UserName
								</td>
							</tr>
							<tr>
								<td>
									<strong>
										<span class="glyphicon glyphicon-cloud text-primary"></span>
										FuulName
									</strong>
								</td>
								<td class="text-primary">
									@Model.Name
								</td>
							</tr>

							<tr>
								<td>
									<strong>
										<span class="glyphicon glyphicon-bookmark text-primary"></span>
										Email
									</strong>
								</td>

								<td class="text-primary">
									@Model.Email
									@if (!ViewBag.IsConfirmed)
									{
										<span class="text-danger"> Email is not confirmed.</span>
									}
								</td>
								
							</tr>


							<tr>
								<td>
									<strong>
										<span class="glyphicon glyphicon-eye-open text-primary"></span>
										Role
									</strong>
								</td>
								<td class="text-primary">
									@Model.RoleName
								</td>
							</tr>
							<tr>
								<td>
									<strong>
										<span class="glyphicon glyphicon-envelope text-primary"></span>
										Address
									</strong>
								</td>
								<td class="text-primary">
									@Model.Address
								</td>
							</tr>
							@if (Model.Id == User?.Identity.GetUserId())
							{
								<tr>
									<td>
										<strong>
											<span class="glyphicon glyphicon-envelope text-primary"></span>
											Edit
										</strong>
									</td>
									<td class="text-primary">
										@Html.ActionLink("Edit", "Edit", "Account", new { id = Model.Id }, new { @class = "card-link" })
									</td>
								</tr>
							}
							</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
