﻿
@{ Layout = "~/Views/Shared/_Layout.cshtml";
				ViewBag.Title = "Register";
	@model PL.Models.RegisterModel 
}
@if (ViewBag.Text is null)
{
<h1 class="display-3 col-2 offset-4">Registration</h1>

 using (Html.BeginForm("Register", "Account", FormMethod.Post)){
@Html.ValidationSummary(true)
@Html.AntiForgeryToken()

<div class="form-horizontal">
	<hr />
	<div class="form-group">
		@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input class="btn btn-primary" type="submit" value="Submit">
		</div>
	</div>
</div>}
}
  @if(ViewBag.Text != null)
  {
	  <p>@ViewBag.Text</p>
  }
<div>
	@Html.ActionLink("Back to List", "Index")
</div>