﻿.row {
    display: flex;
    flex-wrap: wrap;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #6495ED;
}
svg {
    width: 7.3vw;
    background-color: #FFA500;
}
.blog h3 {
    font-size: 5vw;
}
.label {
    background-color: red
}
.main {
    height: 60vw;
}
.main nav {
    height: 60vw;
    border-width: 0.25vw !important;
}
.menu h4 {
    font-size: 2vw;
    color: black
}
.menu ul .nav-item{
    font-size: 1.7vw;
    color: #000aaa;
}
/*body {
    background-color: black;
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
    align-items: stretch;
}*/
/*header{
    text-align:center;
    font-size:4vw;
    height:5vw;
    background-color:gray;
    color:white;
}*/
/*header img {
        float: left;

    }
div.main {
    display: inline-flex;
    margin: 1vw 0 0 0;
    width: 80%;
    height:auto;
    align-self: center;
    border: 0.4vw solid white;
    border-radius:4px;
    
}
nav {
    text-align:center;
    width: 10%;
    height:42vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    display: flex;
    flex-flow: column;
    border-right:0.4vw solid;
    border-right-color:white;
    font-size:1.5vw;
}
    nav h3 {
        text-align: center;
        color: white;
        height: 10%;
        font-size: 1.5vw;
    }
nav a {
    text-align: center;
    color: white;
    height:10%;
}
a:hover {
     background-color: black;
}
div.content {
    overflow-y: scroll;
    width: 90%;
    height: 42vw;
    display:flex;
    flex-flow:column;
    background-color: chocolate;
}
footer {
    background-color: gray;
    text-align: center;
    margin-top: 1vw;
    color:white;
}*/
