﻿@model BLL.DTO.BlogDto

@{
	ViewBag.Title = "GetById";
}
@using BLL.Infrastructure;
<div class="row flex-wrap p-3 m-2 " style="background-color: #283747">
	<input type="text" class="form-control  col-lg-7 offset-lg-1" id="find" placeholder="Find">
	<div class="dropdown pull-right col-lg-1 border-secondary bg-warning pt-1">
		<a class="dropdown-toggle text-muted" data-toggle="dropdown" href="#" id="dropdown-sortmode" title="Sort">
			<small><span class="glyphicon glyphicon-sort"></span>&nbsp;Sort</small>
		</a>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-sortmode">
			<li role="menuitem">@Html.ActionLink("Sort by Date", "Index", "Article", new { sort = Sorting.Date, tag = ViewBag.Name }, null)</li>
			<li role="menuitem">@Html.ActionLink("Sort by Date Descending", "Index", "Article", new { sort = Sorting.Date_desc, tag = ViewBag.Name }, null)</li>
			<li role="menuitem">@Html.ActionLink("Sort by Title", "Index", "Article", new { sort = Sorting.Title, tag = ViewBag.Name }, null)</li>
			<li role="menuitem">@Html.ActionLink("Sort by Title Descending", "Index", "Article", new { sort = Sorting.Title_desc, tag = ViewBag.Name }, null)</li>
		</ul>
	</div>
	@if (User.IsInRole("admin") || User.IsInRole("user"))
	{
		@Html.ActionLink("AddArticle", "AddArticle", "Article", new { @class = "form-control  col-lg-2 btn-dark" })
	}
</div>

<ul class="list-group">
	@foreach (var article in Model.Articles)
	{

		<li>
			<div class="card col-12 border-info">
				<div class="card-body">
					<div class="d-flex w-100 justify-content-between">
						<h2 class="card-title ">@article.Title</h2>
						<p class="card-subtitle ">@article.DateTime</p>
						<p class="card-subtitle ">@article.BlogName</p>
					</div>
					<h6 class="card-text float-left">@article.Text.Substring(0, article.Text.IndexOf(' ', 200))...</h6>
					<input class="btn btn-primary" type="submit" value="Show" onclick="location.href ='/Article/Find/@article.Id'">
					@Html.ActionLink(article.ClientProfile.Name, "Info", "Account", new { id = article.ProfileId }, new { @class = "card-text float-right" })

				</div>
				<div class="partialview">
					@{Html.RenderPartial("_IndexPartial", article);}
				</div>
			</div>
		</li>

	}
</ul>

