﻿@model IEnumerable<BLL.DTO.BlogDto>

@{
	ViewBag.Title = "Index";
}
@using BLL.Infrastructure;
<div class="row flex-wrap p-3 m-2 " style="background-color: #283747">
	<input type="text" class="form-control col-7 col-md-7 col-lg-7 col-sm-7 offset-lg-1 offset-1" id="find" placeholder="Find by Name">
	<button class="btn btn-dark bg-info" onclick='FindBlog()'>Find</button>
	<a class="dropdown-toggle text-muted" data-toggle="dropdown" href="#" id="dropdown-sortmode" title="Sort">
		<small><span class="glyphicon glyphicon-sort"></span>&nbsp;Sort</small>
	</a>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-sortmode">
		<li role="menuitem">@Html.ActionLink("Sort by Date", "Index", "Blog", new { sort = Sorting.Date,name= ViewBag.Name }, null)</li>
		<li role="menuitem">@Html.ActionLink("Sort by Date Descending", "Index", "Blog", new { sort = Sorting.Date_desc, name = ViewBag.Name }, null)</li>
		<li role="menuitem">@Html.ActionLink("Sort by Title", "Index", "Blog", new { sort = Sorting.Title, name = ViewBag.Name }, null)</li>
		<li role="menuitem">@Html.ActionLink("Sort by Title Descending", "Index", "Blog", new { sort = Sorting.Title_desc, name = ViewBag.Name }, null)</li>
	</ul>
	@if (User.IsInRole("admin") || User.IsInRole("user"))
	{
		@Html.ActionLink("AddBlog", "AddBlog", "Blog", new { @class = "form-control  col-lg-2 btn-dark" })
	}
	</div>
@foreach (var blog in Model)
{

	<div class="card col-12 border-info">
		<div class="card-body">
			<div class="d-flex w-100 justify-content-between">
				<h2 class="card-title ">@blog.Name</h2>
				<p class="card-subtitle ">@blog.DateTime</p>
				<p class="card-body">@blog.ClientProfile.UserName</p>
			</div>
			@Html.ActionLink("Show all articles", "Index", "Article", new { blogId = blog.Id }, new { @class = "card-text float-right" })
		</div>
	</div>
}

<script>
	function FindBlog() {
		let name = document.getElementById("find").value;
		document.getElementById("find").value = "";
		if (name != "") {
			let url = '@Url.Action("Index","Blog",null, Request.Url.Scheme)?name=' + name;
			window.location.href = url;
		}
	}
</script>