﻿@{
	@model PagedList.IPagedList<BLL.DTO.ArticleDto>
}
@using PagedList.Mvc;
<ul class="list-group">
	@foreach (var article in Model)
	{
		<li>
			<div class="card col-12 border-info">
				<div class="card-body">
					<div class="d-flex w-100 justify-content-between">
						<h2 class="card-title ">@article.Title</h2>
						<p class="card-subtitle ">@article.DateTime</p>
						<p class="card-subtitle ">@article.BlogName</p>
					</div>
					<h6 class="card-text float-left">@article.Text.Substring(0, article.Text.IndexOf(' ', 200))...</h6>
					<input class="btn btn-primary" type="submit" value="Show" onclick="location.href ='/Article/Find/@article.Id'">
					@Html.ActionLink(article.ClientProfile.Name, "Info", "Account", new { id = article.ProfileId }, new { @class = "card-text float-right" })

				</div>
				<div class="partialview">
					@{Html.RenderPartial("_IndexPartial", article);}
				</div>
			</div>
		</li>
	}
</ul>
<br />
@if (Model.Count == 0)
{
	<p>There are no articles yet.</p>
}

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sort = ViewBag.Sort, blogId = ViewBag.blog, tag = ViewBag.Name }))

