﻿@model IEnumerable<BLL.DTO.CommentDto>

<h3 class="m-4">Comments:</h3>
<div class=" col-8" onclick="DeleteComment()">
	@foreach (BLL.DTO.CommentDto comment in Model)
	{
		<div class="border border-info rounded-top m-2">
			@if (User.IsInRole("admin"))
			 {
				@Html.Hidden(comment.Id.ToString())
				<span class="float-right bg-danger p-1 text-white"style="cursor:pointer;">X</span>
			 }
			<header class="text-white bg-info">
				<p>@Html.ActionLink(comment.UserName,"Info", "Account",new { id = comment.ProfileId},new {@class = "text-white" })</p>
				<p>@comment.DateTime</p>
			</header>
			<section>
				<p>@comment.Text</p>
			</section>
		</div>
	}
</div>