﻿@model BLL.DTO.ArticleDto
@{ Layout = null;}
@using Microsoft.AspNet.Identity
@Html.ValidationSummary()
<div class="taglist">
	<h6>Tags:</h6>
	@foreach (var tag in Model.Tags)
	{
		<div class="d-inline-block float-left m-2">
			@Html.Hidden(Model.Id.ToString())
			<button type="button" class="btn btn-sm float-left pr-0 text-white" aria-label="Close" style="background-color: #283747;">
				#@tag.Name
				@if (User.IsInRole("admin") || User.Identity.GetUserId() == Model.ProfileId)
				{
					<span aria-hidden="true" class="bg-dark p-1 rounded text-warning close1">X</span>

				}
				else
				{
					<span aria-hidden="true" class="rounded text-dark" style="background-color: #283747;">X</span>
				}

			</button>
		</div>
	}
</div>
@if (User.IsInRole("admin") || User.Identity.GetUserId()==Model.ProfileId)
{
	<div class="dropdownd-inline-block float-left">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Select tags to add
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			@Html.Hidden(Model.Id.ToString())
			@foreach (BLL.DTO.TagDto tag1 in ViewBag.Tags)
			{
				<a class="dropdown-item" style="cursor: pointer;">#@tag1.Name</a>
			}
			<div class="dropdown-item">
				<input type="text" class="inputtag" />
				<button type="button" class="btn btn-warning">Add</button>
			</div>
		</div>
	</div>
}