﻿@model PL.Models.ArticleModel

@{
    ViewBag.Title = "AddArticle";
}

<h2>AddArticle</h2>

@using (Html.BeginForm("AddArticle","Article",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal offset-1">
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<div class="form-group">
		@Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.TextAreaFor(model => model.Text, new { @class = "form-control", style = "max-width:100% !important;" })
			@Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-10">
			@Html.DropDownListFor(model => model.BlogId, ViewBag.Blogs as SelectList, new { @class = "form-control", style = "max-width:100% !important;" })
		</div>
	</div>
	<div class="row offset-2">
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Select tags to add
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" onclick="ChangeCheck()">
				@foreach (var tag in Model.TagsName)
				{
					<li class="dropdown-item btn btn-danger">
						<span>@tag.Key</span>
						@Html.CheckBoxFor(model => model.TagsName[tag.Key], new { @class = "float-right" })
					</li>
				}
			</ul>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create Article" class="btn btn-info" />
			</div>
		</div>
		<div class="form-group">
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info bg-info"})
		</div>
	</div>
</div>
}


<script>
	function ChangeCheck() {
		if (event.target.matches("li")) {
			event.stopPropagation();
			event.target.children[1].checked = !event.target.children[1].checked;
		}
		else if (event.target.matches("li span")) {
			event.stopPropagation();
			event.target.closest("li").children[1].checked = !event.target.closest("li").children[1].checked;
		}
	}
</script>