﻿@model PL.Models.CommentModel

@using (Ajax.BeginForm("Find", "Article", new AjaxOptions
{
	HttpMethod = "Post",
	UpdateTargetId = "comments",
	OnSuccess = "OnSuccess"
}))
{
	@Html.AntiForgeryToken()

<div class="form-horizontal">
	@Html.ValidationSummary(false, "", new { @class = "text-danger" })
	<div class="form-group">
		<label class = "control-label col-md-2">Add comment</label>
		<div class="col-md-10">
			@Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
		</div>
	</div>
	@{Model.ArticleId = ViewContext.Controller.ViewBag.Article.Id;}
	@Html.HiddenFor(model => model.ArticleId)

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Create" class=" btn btn-dark text-white" />
		</div>
	</div>
</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
<script>
	function OnSuccess() {
		console.log(document.querySelector("#form0 > div > div:nth-child(2) > div"));
		document.querySelector("#form0 > div > div:nth-child(2) > div").children[0].value = "";
	}
</script>