﻿@model PL.Models.CommentModel

@{
	ViewBag.Title = "GetById";

}
@section scripts
{
	<script src="@Url.Content("~/Scripts/TagsScript.js")"></script>
}
<div class="card col-12  border-bottom-0">
	<div class="card-body mb-0 pb-0">
		<div class="d-flex w-100 justify-content-between">
			<h2 class="card-title ">@ViewBag.Article.Title</h2>
			<p class="card-subtitle ">@ViewBag.Article.DateTime</p>
		</div>
		<h6 class="card-text float-left">@ViewBag.Article.Text</h6>
	</div>
	<div class="partialview">
		@{Html.RenderPartial("_IndexPartial", (BLL.DTO.ArticleDto)ViewBag.Article);}
	</div>
</div>
@if (User.IsInRole("admin") ||User.IsInRole("user"))
{
	Html.RenderPartial("Create", Model);
}

<div id="comments">
	@{ Html.RenderPartial("_CommentsPartial", (IEnumerable<BLL.DTO.CommentDto>)ViewBag.Article.Comments); }
</div>

<script>
	document.getElementsByClassName('card')[0].addEventListener("click", function () { addTagToArticle() }, true);
	document.getElementsByClassName('card')[0].addEventListener("click", function () { deleteTagFromArticle() }, true);
</script>