﻿
@{
	@model PagedList.IPagedList<BLL.DTO.ArticleDto>

}
@section scripts
{
	<script src="@Url.Content("~/Scripts/TagsScript.js")"></script>
}
@section css{
	<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
}
@using BLL.Infrastructure;
<div class="row flex-wrap p-3 m-2 " style="background-color: #283747">
	@if (User.IsInRole("admin") || User.IsInRole("user"))
	{
		@Html.ActionLink("Add", "AddArticle", "Article", new { @class = "form-control bg-info col-1 col-sm-1 col-lg-1 btn-dark" })
	}
	<input type="text" class="form-control col-7 col-md-7 col-lg-7 col-sm-7 offset-lg-1 offset-1" id="find" placeholder="Find by Name">
	<button class="btn btn-dark bg-info" onclick="Find()">Find</button>
	<div class="dropdown pull-right col-lg-1 col-1 col-sm-1 border-secondary bg-info pt-1 offset-1">
		<a class="dropdown-toggle text-muted" data-toggle="dropdown" href="#" id="dropdown-sortmode" title="Sort">
			<small class="text-dark font-weight-bold" style="font-size:1.3vw;"><span class="glyphicon glyphicon-sort text-dark font-weight-bold"></span>&nbsp;Sort</small>
		</a>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-sortmode">
			<li role="menuitem">@Html.ActionLink("Sort by Date", "Index", "Article", new { sort = Sorting.Date, blogId = ViewBag.blog, page = ViewBag.Page, tag = ViewBag.Name }, null)</li>
			<li role="menuitem">@Html.ActionLink("Sort by Date Descending", "Index", "Article", new { sort = Sorting.Date_desc, blogId = ViewBag.blog, page = ViewBag.Page, tag = ViewBag.Name }, null)</li>
			<li role="menuitem">@Html.ActionLink("Sort by Title", "Index", "Article", new { sort = Sorting.Title, blogId = ViewBag.blog, page = ViewBag.Page, tag = ViewBag.Name }, null)</li>
			<li role="menuitem">@Html.ActionLink("Sort by Title Descending", "Index", "Article", new { sort = Sorting.Title_desc, blogId = ViewBag.blog, page = ViewBag.Page, tag = ViewBag.Name }, null)</li>
		</ul>
	</div>

</div>
<div id="partial">
	@{Html.RenderPartial("_ArticlePartial", Model);}
</div>

<script>
	document.getElementsByClassName('list-group')[0].addEventListener("click", function () { addTagToArticle() }, true);
	document.getElementsByClassName('list-group')[0].addEventListener("click", function () { deleteTagFromArticle() }, true);;
</script>

