﻿
@{
	ViewBag.Title = "Forbiddent";
}

<h2>You don't have access to this resource.Check your permission.</h2>

<p>На безрыбье и рак рыба</p>

<p>
	bool IsFish(Animal a)
	{
	...
	if(FishContainer.empty() && IsCrawfish(a))
	return true;
	...
	}
</p>