﻿
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>

	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@RenderSection("css", false)

</head>
<body >

	<div class="container-fluid p-0 m-0">
		<div class="row ">

			<div class="offset-lg-2 col-sm-1 col-lg-1 offset-sm-0 offset-md-0">
				<svg viewBox="0 -20 512 511" xmlns="http://www.w3.org/2000/svg">
					<path d="m67.179688 48.394531h-.101563c-5.523437 0-10 4.476563-10 10 0 5.523438 4.476563 10 10 10h.101563c5.523437 0 10-4.476562 10-10 0-5.523437-4.476563-10-10-10zm0 0" />
					<path d="m116.710938 48.394531h-.101563c-5.523437 0-10 4.476563-10 10 0 5.523438 4.476563 10 10 10h.101563c5.523437 0 10-4.476562 10-10 0-5.523437-4.476563-10-10-10zm0 0" />
					<path d="m166.242188 48.394531h-.101563c-5.523437 0-10 4.476563-10 10 0 5.523438 4.476563 10 10 10h.101563c5.523437 0 10-4.476562 10-10 0-5.523437-4.476563-10-10-10zm0 0" />
					<path d="m444.308594 48.394531h-192.929688c-5.523437 0-10 4.476563-10 10 0 5.519531 4.476563 10 10 10h192.929688c5.523437 0 10-4.480469 10-10 0-5.523437-4.476563-10-10-10zm0 0" />
					<path d="m262.890625 452.4375c-2.628906 0-5.199219 1.070312-7.070313 2.929688-1.859374 1.859374-2.929687 4.441406-2.929687 7.070312s1.070313 5.210938 2.929687 7.070312c1.871094 1.859376 4.441407 2.929688 7.070313 2.929688s5.210937-1.070312 7.070313-2.929688c1.867187-1.859374 2.929687-4.441406 2.929687-7.070312s-1.0625-5.210938-2.929687-7.070312c-1.859376-1.859376-4.441407-2.929688-7.070313-2.929688zm0 0" />
					<path d="m480.230469.5h-448.460938c-17.515625 0-31.769531 14.253906-31.769531 31.769531v408.398438c0 17.519531 14.253906 31.769531 31.769531 31.769531h189.230469c5.523438 0 10-4.476562 10-10s-4.476562-10-10-10h-189.230469c-6.488281 0-11.769531-5.277344-11.769531-11.769531v-324.378907h472v324.378907c0 6.488281-5.28125 11.769531-11.769531 11.769531h-176.5625c-5.523438 0-10 4.476562-10 10s4.476562 10 10 10h176.5625c17.515625 0 31.769531-14.25 31.769531-31.769531v-408.398438c0-17.515625-14.253906-31.769531-31.769531-31.769531zm-460.230469 95.785156v-64.015625c0-6.488281 5.28125-11.769531 11.769531-11.769531h448.460938c6.488281 0 11.769531 5.28125 11.769531 11.769531v64.019531h-472zm0 0" />
					<path d="m178.039062 230.5c0-19.851562-16.148437-36-36-36h-33.667968c-5.523438 0-10 4.476562-10 10v104c0 5.523438 4.476562 10 10 10h33.667968c19.851563 0 36-16.148438 36-36 0-10.214844-4.28125-19.441406-11.140624-26 6.859374-6.558594 11.140624-15.785156 11.140624-26zm-20 52c0 8.820312-7.179687 16-16 16h-23.667968v-32h23.667968c8.820313 0 16 7.175781 16 16zm-39.667968-36v-32h23.667968c8.824219 0 16 7.179688 16 16s-7.175781 16-16 16zm0 0" />
					<path d="m206.648438 194.5c-5.523438 0-10 4.476562-10 10v80.871094c0 18.269531 14.863281 33.128906 33.128906 33.128906 5.523437 0 10-4.476562 10-10s-4.476563-10-10-10c-7.238282 0-13.128906-5.890625-13.128906-13.128906v-80.871094c0-5.523438-4.476563-10-10-10zm0 0" />
					<path d="m324.867188 282.289062c0-19.96875-16.242188-36.214843-36.210938-36.214843s-36.210938 16.246093-36.210938 36.214843 16.246094 36.210938 36.210938 36.210938c19.96875 0 36.210938-16.242188 36.210938-36.210938zm-52.421876 0c0-8.941406 7.273438-16.214843 16.210938-16.214843s16.210938 7.273437 16.210938 16.214843c0 8.9375-7.269532 16.210938-16.210938 16.210938s-16.210938-7.273438-16.210938-16.210938zm0 0" />
					<path d="m377.414062 346.5c-8.9375 0-16.210937-7.273438-16.210937-16.210938 0-5.523437-4.476563-10-10-10s-10 4.476563-10 10c0 19.96875 16.246094 36.210938 36.210937 36.210938 19.96875 0 36.214844-16.242188 36.214844-36.210938v-48c0-19.96875-16.246094-36.214843-36.214844-36.214843-19.964843 0-36.210937 16.246093-36.210937 36.214843s16.246094 36.210938 36.210937 36.210938c5.828126 0 11.332032-1.390625 16.214844-3.847656v15.636718c0 8.9375-7.273437 16.210938-16.214844 16.210938zm0-48c-8.9375 0-16.210937-7.273438-16.210937-16.210938 0-8.941406 7.273437-16.214843 16.210937-16.214843 8.941407 0 16.214844 7.273437 16.214844 16.214843 0 8.9375-7.273437 16.210938-16.214844 16.210938zm0 0" />
					<path d="m108.371094 416.5h295.257812c5.523438 0 10-4.476562 10-10s-4.476562-10-10-10h-295.257812c-5.519532 0-10 4.476562-10 10s4.480468 10 10 10zm0 0" />
				</svg>
			</div>
			<div class="col-lg-5 col-sm-5 col-md-5 text-center blog">
				<h3 class="font-weight-bold" >Personal Blog</h3>
			</div>
			<div class="col-lg-2 col-2 col-sm-2 text-center p-4">
				@if (User.IsInRole("admin") || User.IsInRole("user"))
				{
					<input class="btn btn-danger text-white pb-0 label" type="submit" value=@User.Identity.Name onclick="location.href ='/Account/Info/'">
				}
			</div>
		</div>
	</div>
	<div class="container-fluid justify-content-center mt-2 main">
		<div class="overflow-hidden row justify-content-center">
			<nav class="navbar navbar-light align-content-start bg-white col-1 float-left m-0
				 p-0 align-top border border-dark rounded ">
				<div class="container m-0 p-0 float-left menu">
					<h4 class="navbar-brand" href="#">Menu</h4>

					<ul class="nav flex-column">
						<li class="nav-item " >@Html.ActionLink("Articles", "Index", "Article",null,null)</li>
						<li class="nav-item" >@Html.ActionLink("Blogs", "Index", "Blog", null, null)</li>
						@if (!(User.IsInRole("admin") || User.IsInRole("user")))
						{
							<li class="nav-item">@Html.ActionLink("Login", "Login", "Account", null, null)</li>
							<li class="nav-item">@Html.ActionLink("Register", "Register", "Account", null, null)</li>

						}
						@if (User.IsInRole("admin"))
						{
							<li class="nav-item">@Html.ActionLink("Users", "Index", "Account", null, null)</li>
						}
						@if (User.IsInRole("admin") || User.IsInRole("user"))
						{
							<li class="nav-item">@Html.ActionLink("Logout", "Logout", "Account", null, null)</li>
						}

					</ul>
				</div>
			</nav>
			<div class="overflow-auto col-10 container m-0 p-0 border border-left-0 border-dark bg-white"
				 style="height:60vw;border-width:0.25vw!important">
				@RenderBody()
			</div>
		</div>
	</div>
	<footer class="page-footer font-small" style="background-color: #0000FF">

		<!-- Copyright -->
		<div class="footer-copyright text-center py-3 text-white">
			© 2020 Copyright:
			@Html.ActionLink("Home", "Index", "Article")
			<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
		</div>
		<!-- Copyright -->

	</footer>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/jqueryval")
	@RenderSection("scripts", required: false)
</body>

</html>

